* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.wrappper {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.figure {
	width: 200px;
	height: 200px;
	background: blue;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 0 0 60%;
}
