* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}

.wrappper {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.figure {
	width: 200px;
	height: 200px;
	background: blue;
	margin: 0 auto;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 0 0 60%;
}

h1 {
	font-size: 72px;
	padding-bottom: 12px;
}

h2 {
	font-size: 35px;
	padding-bottom: 50px;
}

p {
	font-size: 16px;
}
